src/*.exe
src/titcoin
src/titcoind
src/test_titcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.titcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
titcoin-qt
Titcoin-Qt.app

# Unit-tests
Makefile.test
titcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
